################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MihirBookStoreAspMVCCore/.vs/MihirBookStoreAspMVCCore
/MihirBookStoreAspMVCCore/MihirBookStoreAspMVCCore/bin/Debug/netcoreapp3.1
/MihirBookStoreAspMVCCore/MihirBookStoreAspMVCCore/obj
